* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Megrim', cursive;
    font-size: 4vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.blue-section,
.yellow-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.blue-section {
    background-color: #0057B8;
    color: #FFD700;
}

.yellow-section {
    background-color: #FFD700;
    color: #0057B8;
}

a,
a:visited {
    color: #0057B8;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

@media only screen and (min-width: 950px) {
    body {
        font-size: 2.5rem;
    }
}