* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Megrim', cursive;
    font-size: 5vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.title,
.contents {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.title {
    background-color: #0057B8;
    color: #FFD700;
}

.contents {
    background-color: #FFD700;
    color: #0057B8;
}

a,
a:visited {
    color: #0057B8;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}